/* Verhindern, dass Emojis in Tooltip- und Wikipedia-Links mit unterstrichen werden */
.has-tippy> ::before,
a[href*="wikipedia"]::before {
  display: inline-block;
  text-decoration: none;
}

.has-tippy>* {
  white-space: nowrap;
  /* Icon soll bei Link bleiben, steht sonst mal alleine */
}

/* Links zu Wikipedia
a[href*="wikipedia"]::before {
  content: "🌐";
} */

/* Links zu anderen internen Seiten {doc} */
.has-tippy .doc::before {
  content: "🔎";
}

/* Links zu Glossar-Einträgen {term} */
.has-tippy .std-term::before {
  content: "🔎";
}

/* Links zu sonstigen internen Verlinkungen {ref} oder []() */
.has-tippy .std-ref::before {
  content: "🔎";
}

/* Links zu sonstigen internen Verlinkungen {ref} oder []() */
.has-tippy .std-numref::before {
  content: "🔎";
}